*{
    margin: 0;
    padding: 0;
}

/* Header */

.header{
    height: 10vh;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transition: 0.4s ease-in-out;
}

.header img{
    width: 80px;
    height: 80px;
    padding: 10px;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 30px;
}

.links a{
    color: #F2F2F2;
    text-decoration: none;
    font-family: 'Montserrat', 'sans-serif';
    font-size: large;
    text-align: center;
}

.links a:hover{
    opacity: 60%;
}

.links button{
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: #fff solid 1px;
    color: #fff;
    font-size: large;
    cursor: pointer;
}

.links button:hover{
    opacity: 60%;
}


.togglebtn{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 2%;
    left: 3%;
    rotate: 90deg;
    background-color: transparent;
    border: solid grey 1px;
    color: #fff;
}

@media(max-width: 768px) {
    .header {
        width: 100%;
        height: 100vh; 
        background-color: #fff; 
        position: absolute;
        top: 0;
        opacity: 80%;
    }

    .header .togglebtn {
        position: absolute;
        top: 30px;
        left: 10px;
        z-index: 1001; 
        color: #003366;
    }

    .links {
        position: absolute;
        top: 30px;
        left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px 0;
        margin-right: 0;
    }
    .links a{
        color: #003366;
    }
    .links button{
        border: #003366 solid 1px;
        color: #003366;
    }
}

.btnoff{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0%;
    width: 90%;
    margin: 10px;
}

.btnoff img{
    width: 80px;
    height: 80px;
}

.btnoff .togglebtn2{
    height: 40px;
    width: 40px;
    rotate: 90deg;
    background-color: transparent;
    border: solid grey 1px;
    color: #fff;
}


/* Home */

.home{
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #003366 0%, #004080 35%, #0059b3 70%, #0073e6 100%);
}

.central-text{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: relative;
    top: 10%;
}

.central-text .big-text{
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 60px;
    color: #fff;
}

.central-text .small-text{
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 20px;
    color: #fff;
}

.central-text .buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.central-text .buttons button{
    width: 150px;
    height: 50px;
    background-color:  transparent;
    color: #fff;
    border: grey solid 0.3px;
    cursor: pointer;
}

.central-text .buttons button:hover{
    opacity: 60%;
}

.svgs{
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2%;
    cursor: pointer;
}

.svgs svg{
    height: 24px;
    width: 24px;
    padding: 0;
    animation: fade 1.2s infinite;
}

@keyframes fade{
    from{fill:goldenrod;}
    to{fill: black;}
}

@media(max-width : 768px){

    .central-text{
        height: 80vh;
        position: relative;
        top: 15%;
    }

    .central-text .big-text{
        font-size: 30px;
    }
    .svgs{
        bottom : 16%
    }
}

hr{
    width: 50%;
    margin: 0 auto;
    color: grey;
    opacity: 70%;
}

@media(max-width : 768px){
    hr{
        width: 70%;
    }
}

/* Scnd page */

.scnd-page{
    height: auto;
    width: 100%;
    background: linear-gradient(180deg, #0073e6 0%, #0059b3 30%, #004080 65%, #003366 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


/* About */

.about{
    height: auto;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 100px;
}


.about-title{
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 50px;
    color: #fff;
    padding-bottom: 50px;
}

.about-text{
    text-align: justify;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 18px;
    color: whitesmoke;
    width: 75%;
    margin: auto;
    padding: 40px;
    line-height: 1.5;

}

@media(max-width : 768px){

    .about-title{
        font-size: 30px;
    }
    .about-text{
        font-size: 15px;
    }
}

/* Testimonies */

.temoignages{
    width: 100%;
    height: auto;
    font-family: 'Montserrat', 'sans-serif';
    background-color: #E0F2FF;
    padding: 20px 0;
}

  .testimonies-container{
    height: 40vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media(max-width : 768px){
    .testimonies-container{
        height: auto;
    }
  }

  .testimonies-elements{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .testimonie-name{
    font-style: italic;
  } 


  .previous-button {
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: large;
    border: none;
    border-radius: 30%;
    padding: 5px;
    color: #000;
  }
  
  .next-button {
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: large;
    border: none;
    border-radius: 30%;
    padding: 5px;
    color: #000;
  }


/* Footer */

footer{
    height: auto;
    width: 100%;
    background: linear-gradient(180deg, #003366 0%, #004080 35%, #0059b3 70%, #0073e6 100%);
    padding: 20px 0;
}

.contact{
    padding-bottom: 50px;
}

footer .contact p{
    color: white;
    font-size: 40px;
    font-family: 'Montserrat', 'sans-serif';
    text-align: center;
    padding: 50px 0;
}

footer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer .infos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer form input{
    width: 220px;
    height: 35px;
    border-radius: 0%;
    border: none;
}

footer form textarea{
    width: 810px;
    height: 150px;
    border-radius: 0%;
    border: none;
}

form select{
    width: 80px;
    height: 35px;
    -webkit-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><path fill="%23333" d="M0 0l5 5 5-5z"/></svg>') no-repeat right 10px center;
    background-size: 10px 6px;
    background-color: #fff;
}

footer .phone{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

form button{
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: solid white 1px;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s;
}

form button:hover{
    background-color: #fff;
    color: #003366;
}

form input::placeholder, textarea::placeholder, form .phone select::placeholder{
    font-family: 'Montserrat', 'sans-serif';
    padding: 10px;
}

@media(max-width : 768px){
    
    footer p{
        color: white;
        font-size: 35px;
    }

    footer form{
        gap: 50px;
    }

    footer .infos{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 50px;
    }
    
    footer form input{
        width: 100%;
        height: 50px;
    }
    
    footer form textarea{
        width: 90%;
        height: 200px;
    }
    
    form select{
        width: 100px;
        height: 50px;
    }
    
    form button{
        width: 150px;
        height: 50px;
    }

    .phone{
        width: 100%;
    }
}

/* Contact */

.horaires-contact{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 30px;
    gap: 40px;
}

@media(max-width : 768px){
    .horaires-contact{
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
    }
}


/* Reseaux */

.reseaux{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.reseaux button{
    width: 50px;
    height: 50px;
}

.reseaux svg{
    width: 50px;
    height: 50px;
}

/* Horaires */

.horaires{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 20px;
}

.horaires p{
    font-size: 15px;
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    line-height: 1.3;
}

.tel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tel p{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', 'sans-serif';
}

@media(max-width : 768px){
    .tel p{
        font-size: large;
    }
}

.tel button{
    width: 140px;
    height: 50px;
    background-color: transparent;
    border: solid white 1px;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s;
    margin: 10px;
}
.tel button:hover{
    color: #003366;
    background-color: #fff;
}


/* condition */

.conditions{
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.conditions a{
    font-size: 15px;
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    transition: opacity 0.3s;
}

.conditions a:hover{
    opacity: 70%;
}

/* Services */

.Carousel {
    height: 90vh;
    width: 100%;
    background-color: #003366;
    padding: 25vh 0 15vh 0;
}

.categories {
    width: 100%;
    height: 100%;
}

@media(max-width: 768px) {
    .Carousel {
        height: 120vh;
    }
    .categories {
        height: 90vh;
    }
    
}

.categories-p {
    color: white;
    padding-bottom: 50px;
    font-family: 'Montserrat', 'sans-serif';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
}

.categories-p button {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.categories-p .previous-p, 
.categories-p .next-p {
    font-size: large;
    opacity: 60%;
}

.current-p {
    font-size: xx-large;
}


.previous-category, 
.next-category {
    width: 45%;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 45%;
    z-index: 1;
    opacity: 50%;
    border-radius: 20px;
}

.previous-category {
    left: 5%;
}

.next-category {
    right: 5%;
}

.category {
    width: 65%;
    height: 75%;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    border-radius: 20px;
}

.categories img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.sub-category{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    background-color: hsla(0, 0%, 100%, 0.7);
    font-family: 'Montserrat', 'sans-serif';
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sub-category button{
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 4px;
}

.category .previous-btn, 
.category .next-btn {
    position: absolute;
    top: 50%;
    background-color: transparent;
    color: #E0F2FF;
    font-size: 50px;
    border: none;
}

.category .previous-btn {
    left: 1%;
}

.category .next-btn {
    right: 1%;
}

@media (max-width: 768px) {
    .categories-p .previous-p, 
    .categories-p .next-p {
        font-size: small;
    }
    
    .current-p {
        font-size: large;
    }

    .category {
        height: 65%;
    }

    .next-category, 
    .previous-category {
        top: 50%;
    }

    .sub-category{
        top: 40%;
        width: 70%;
    }
    .category .previous-btn{
        left: -10%;
    }
    .category .next-btn{
        right: -10%;
    }
    .categories img{
        height: 100%;
        object-fit: cover;
        object-position: 50%;
    }
}

/* text-categories */

.text-categories{
    height: auto;
    width: 70%;
    color: white;
    margin: 40px auto;
    font-family: 'Montserrat', 'sans-serif';
    font-size: larger;
    text-align: justify;
}

@media(max-width : 768px){
    .text-categories{
        text-align:left;
    }
}


/* Prices */

.prices{
    width: 100%;
    background: linear-gradient(180deg, #003366 0%, #004080 35%, #004080 70%, #003366 100%);
    padding: 25vh 0 15vh 0;
}

.services-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #003366;
}

.service-category {
    background-color: #f9fbfd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-category:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

.service-category h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #003366;
    border-bottom: 2px solid #003366;
    padding-bottom: 10px;
}

.service-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.service-list li {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #004080;
}

.see-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.see-more-btn:hover {
    background-color: #002244;
    transform: translateY(-2px);
}

.more-services {
    margin-top: 10px;
    transition: max-height 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .services-table {
        grid-template-columns: 1fr;
    }

    .service-category {
        padding: 15px;
    }

    .service-category h3 {
        font-size: 1.3em;
        margin-bottom: 10px;
    }

    .service-list li {
        font-size: 1em;
    }

    .see-more-btn {
        font-size: 0.9em;
        padding: 8px 15px;
    }
}

/* offres speciales */

.special-offers-section {
    width: 80%;
    margin: 50px auto;
    padding: 50px 0;
    background-color: #f4f9ff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
}

.special-offers-title {
    font-size: 2em;
    color: #003366;
    margin-bottom: 30px;
    position: relative;
}

.special-offers-title::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: #004080;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.offers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.offer-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.offer-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.offer-card h4 {
    font-size: 1.4em;
    color: #003366;
    margin-bottom: 10px;
}

.offer-card p {
    font-size: 1.1em;
    color: #004080;
}

@media (max-width: 768px) {
    .offers-container {
        flex-direction: column;
        align-items: center;
    }

    .offer-card {
        width: 70%;
    }
}

/* sp home */

.sp-home{
    padding: 20px;
    background-color: #003366;
}

/* Conditions generales */

.conditions-generales{
    width: 100%;
    background: linear-gradient(180deg, #003366 0%, #004080 35%, #004080 70%, #003366 100%);
    padding: 12vh 0 15vh 0;
}

.cgu-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #fff;
    line-height: 1.6;
    border-radius: 8px;
}

.cgu-section {
    margin-bottom: 20px;
}

.cgu-section h2 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.cgu-section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.cgu-section p, 
.cgu-section ul li {
    font-size: 1em;
    margin-bottom: 10px;
}

.cgu-section a {
    color: goldenrod;
    text-decoration: none;
}

.cgu-section a:hover {
    text-decoration: underline;
}